
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css">
<style>
    .clock {
      width: 650px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
</style> -->
<div class="clock"></div>


<p id="token">0000</p>

<p id="complete" style="display: none;">Game is over</p>
<button type="button" id="start">Start</button>
<button type="button" id="close">Close</button>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.js"></script> -->

<!-- <script>
    $(document).ready(function() {
        let clock;

        // Grab the current date
        let currentDate = new Date();

        // Target future date/24 hour time/Timezone
        let targetDate = moment.tz("2022-06-19 23:59", "Australia/Sydney");

        // Calculate the difference in seconds between the future and current date
        let diff = targetDate / 1000 - currentDate.getTime() / 1000;

        if (diff <= 0) {
            // If remaining countdown is 0
            clock = $(".clock").FlipClock(0, {
                clockFace: "DailyCounter",
                countdown: true,
                autostart: false
            });
            console.log("Date has already passed!")
            
        } 
        else {
            // Run countdown timer
            clock = $(".clock").FlipClock(diff, {
                clockFace: "DailyCounter",
                countdown: true,
                callbacks: {
                    stop: function() {
                    console.log("Timer has ended!")
                    }
                }
            });
            
            // Check when timer reaches 0, then stop at 0
            setTimeout(function() {
                checktime();
            }, 1000);
            
            function checktime() {
                t = clock.getTime();
                if (t <= 0) {
                    clock.setTime(0);
                }
                setTimeout(function() {
                    checktime();
                }, 1000);
            }
        }
    });
</script> -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    let status = "<%= status %>";

    console.log(status)
    if(status == "complete"){
        document.querySelector('#complete').style.display = 'block';
    }


    const startBtn = document.querySelector('#start');

    startBtn.addEventListener('click', event => {
        axios.post('http://localhost:3000/store')
            .then(function (response) {
                var data = response.data
                if(data.status == "success"){
                    document.querySelector('#token').innerHTML = data.result;
                }
                else if(data.status == "complete"){
                    document.querySelector('#complete').style.display = 'block';
                }
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });
    });
    
</script>